name: Build and Test

on:
  push:
    branches: ["main"]
    paths-ignore:
      - README.md
      - website/**
  pull_request:
    branches: ["main"]
    paths-ignore:
      - README.md
      - website/**

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test
      - name: Check formatting
        run: cargo fmt --check
      - name: Run linting
        run: cargo clippy
